<% include inc_com/header %>
<hr>

<div class="container">  
  <form method="GET" action="/showbcs011">
    <div class="form-row">
           <div class="form-group col-md-2">
            <label>time zone</label>
            <select name="time_zone" class="form-control">
              <optgroup label="July">
                <option value="July 2011" selected>July 2011</option>
                <option value="July 2012" >July 2012</option>
                <option value="July 2013" >July 2013</option>
                <option value="July 2014" >July 2014</option>
                <option value="July 2015" >July 2015</option>
                <option value="July 2016" >July 2016</option>
              </optgroup>
              <optgroup label="December">
                <option value="December 2011" >December 2011</option>
                <option value="December 2012" >December 2012</option>
                <option value="December 2013" >December 2013</option>
                <option value="December 2014" >December 2014</option>
                <option value="December 2015" >December 2015</option>
                <option value="December 2016" >December 2016</option>
              </optgroup>
            </select>
          </div> 
          <div class="form-group col-md-2">
            <label>Block no.</label>
            <input type="text" name="blok_no" class="form-control">
          </div>
          <div class="form-group col-md-2">
            <label>Unit no.</label>
            <input type="text" name="unit_no" class="form-control">
          </div>
          <div class="form-group col-md-5">
            <label>Add Tag.</label>
            <input type="text" name="tag" class="form-control">
          </div> 
          <div class="form-group col-md-1">
            <label><b>Search.</b></label>
            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
          </div>
    </div>
  </form>

  <hr>

  <!-- <table id="mytabletopdf">
    <tbody>
        <% p_data.forEach( function(data, index){ %>
        <tr>
          
          <td><b>Q-<%= index + 1 %></b></td>
         
          <td><pre style="font-family: 'Times New Roman'; font-size: 15px;"> <%= data.Question %></i></pre></td>
         
          <td><pre> Question-<%= data.Question_no %>
 part - <%= data.Question_part  %></pre></td>
          
          <td><pre><b> <%= data.time_zone %></b>
 Marks - <%= data.Marks %></pre></td>
    
        </tr>
        <% }) %>
    </tbody>
  </table> -->


  <table id="mytabletopdf" style="border: 1px solid black;">
    <tbody>
        <% p_data.forEach( function(data, index){ %>
        <tr style="border: 1px solid black;">
          
          <td style="border: 1px solid black;"><b>Q-<%= index + 1 %></b></td>
         
          <td style="border: 1px solid black;"><pre style="font-family: 'Times New Roman'; font-size: 15px;"> <%= data.Question %></i></pre></td>
         
          <td style="border: 1px solid black;"><pre> Question-<%= data.Question_no %>
 part - <%= data.Question_part  %></pre></td>
          
          <td style="border: 1px solid black;"><pre><b> <%= data.time_zone %></b>
 Marks - <%= data.Marks %></pre></td>
    
        </tr>
        <% }) %>
    </tbody>
  </table>

</div>

<br><br><br><br>  
<% include inc_com/footer %>