<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Analysis</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><u>BCS-011, Computer basics & PC Software</u></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            
            
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-print" aria-hidden="true"></i> Print The Document</button>
          </form>
        </div>
    </nav>

    <br>

<div class="container">
    
    <table id="mytabletopdf">
       
      <tbody>
          <% p_data.forEach(data =>{ %>
          <tr>
            <!-- <td><b>Q.1 : </b></td> -->
            <td><pre style="font-family: 'Times New Roman'; font-size: 15px;"><i><b>Q.1 : </b> <%= data.Question %></i></pre></td>
            <!-- <td><%= data.Marks %></td> -->
            <!-- <td><p><%= data.Question_no %> (<%= data.Question_part %>)</p></td> -->
            <!-- <td><p><b><%= data.time_zone %></b> / Q-<%= data.Question_no %> (<%= data.Question_part %>)</p></td> -->
            <td style="font-family: 'Times New Roman'; font-size: 15px;"><pre>(<%= data.Marks %>)[ <%= data.time_zone %> ]</pre></td>
          </tr>
          <% }) %>
      </tbody>
    </table>

</div>  
<% include inc_com/footer %>